@model VATMVCAPPFramework.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Username Request";
    Layout = "~/Views/Shared/_APPAccountPartial.cshtml";
}


@using (Html.BeginForm("UsernameRequest", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()



    <div class="sign-container">
        <div class="text-center">
            <!--<h2 class="logo">MegaDin</h2>-->
            <h3>Forgot your username </h3>
            @*<p>Enter your email address and your password will be reset and emailed to you.</p>*@
        </div>
        <div class="sign-in-form">

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address", required = true, @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset</button>
            <div class="text-center help-block">
                <a href="@Url.Action("Login","Account")"><small>Login Page?</small></a>

            </div>
        </div>
        <div class="text-center copyright-txt">
            <small>MegaDin - Copyright © 2017</small>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
